.blockType_001{
    display: grid;
    grid-template-rows: 6.9fr 0.55fr 0.7fr 0.7fr 0.8fr 0.8fr;
    width: 350px;
    height: 100%;
    padding: 20px;
    background-color: var(--green-001);
}

.imgTypeBlock_001{
    width: 310px;
    height: 422px;
    background-color: var(--green-002);
}
.butBlockType_001{
    width: 100%;
    height: 65px;
}