.content_005{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 170px;
    margin: 0 auto;
    padding: 23px 165px;
    background-color: var(--green-001);
}

.threeСolumnsBlock_005{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 445px;
    height: 170;
}

.colContBlock_005{
    width: 200px;
    height: 120px;
}

.iconGroupContBlock_005{
    display: flex;
    justify-content: space-between;
    width: 132px;
    margin-bottom: 18px;
}

.firstIconContBlock_005{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}