header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    padding: 33px 165px;
    background-color: var(--green-001);
}

.headerRight{
    display: flex;
    justify-content: space-between;
    width: 470px;
    height: 24px;
}

.headerImege002{
    width: 24px;
    height: 24px;
}