.logoBlock {
  display: flex;
  align-items: center;
  width: 143px;
  height: 35px;
}

.logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: var(--transparent-001);
  line-height: 23.48px;
  font-weight: 700;
}