@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
}

body{
    font-weight: 400;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 28px;
}

h5{
    font-size: 20px;
}

h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    
}

button{
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

input{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
